@import url('./SocialMediaIcons.css');

html{
	font-size: 16px;
}
body{
	font-size:62.5%;
}
h1,h2,h3{
	color: #000;
}

/*FONTS*/
.raleway {
	font-family: 'Raleway', Arial;
}
.rye {
	font-family: 'Rye', cursive;
}

/*MAIN*/
.top-section {
	background-image: url('./images/background_pool_brent_sky_bella_color.jpg');
	background-size: cover;
	background-position:top center;
	background-repeat:no-repeat;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	z-index: -2;
}
#title {
	text-align: center;
	flex: 1;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	height: 200px;
	width: 100%;
}
#title h1{
	display:inline-block;
	font-size: 1.5em;
	align-self: center
}
#title img{
	display:inline-block;
	padding:4em 2em 2em 2em;
	height: 60px;
	align-self: center
}
#title div{
	height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.center-block{
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
.hand-on-hover:hover{
	cursor:hand;
	cursor:pointer;
}
/*END MAIN*/

/*LIGHTNING*/
.lightning{
	height: 200px;
	width: 1600px;
	background: url("./images/lightning_sprite_7images_1strike_purple_glow_single_strand.png");
	background-size: 100% 800%;
	/*14.28, 28.57, 42.85, 57.14, 71.43, 85.71 */
	background-position: 0 100% ;
	z-index: 0;
	position: absolute;
	right: 0;
	top:750px;
}
/*END LIGHTNING*/




/*WORK SECTION*/
#horseSprite, #horseSpriteStationary{
	background-image:url("./images/horse_sprite_small_pasture_one_third.png");
	background-position: 0 0;
	height: 36px;
	width: 50px;
	animation: horse-ride 0.4s steps(12) infinite;
}
@keyframes horse-ride {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 432px;
	}
}
.flexCentered{
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.flexStart{
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.mediumPadding{
	padding: 0 80px 0 40px;
}
.sectionFont{
	font-family: 'Raleway', Arial;
	font-size: 16px;
	line-height: 22px;
	color: #727272;
	letter-spacing: 1.2px;
}
.technology-component{
	display:inline-block;
	text-align:center;
	width: 33%;
}
.technology-component div{
	border:1px solid black;
	box-sizing:border-box;
	height:100px;
	margin: 10px;
}
.technology-component.selected div{
	border:1px solid blue;
}
.video-responsive{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
}
.video-responsive iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}
.workExperienceSection{
	padding: 5%;
	width: 90%;
	max-width: 600px;
	text-align: center;
}

/*CHICKENS*/
#chickenContainer{
	height: 600px;
	width: 100%;
	position: relative;
}
.robot-chicken{
	background-image: url('./images/chicken_sprite.png');
	background-size: 300px 100px;
	background-position:0px 0px;
	background-repeat:no-repeat;
	position:absolute;
	height: 100px;
	width: 100px;
}
.robot-chicken-walking{
	animation-name: chicken-walking;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(3);
}
@keyframes chicken-walking {
	from{
		background-position-x:0px;
	}
	to{
		background-position-x:-300px;
	}
}
/*END CHICKENS*/

/*DRONE*/
#skypixelContainer{
	position: absolute;
	bottom: 50px;
	right: 50px;
	padding: 20px;
}
.drone-boundaries {
	position: relative;
	width: 100%;
	display: flex;
	align-self: flex-end;
}
.drone-hovering{
	background-image: url('./images/drone_sprite_4x4_800px.png');
	background-size: 400px 400px;
	background-position:0px 0px;
	background-repeat:no-repeat;
	position:absolute;
	height: 100px;
	width: 100px;
}

.drone-propellers{
	animation-name: drone-spin-x, drone-spin-y;
	animation-duration: 0.2s, 0.4s;
	animation-iteration-count: infinite, infinite;
	animation-timing-function: steps(4), steps(2);
}
@keyframes drone-spin-x {
	from{
		background-position-x:0px;
	}
	to{
		background-position-x:-400px;
	}
}
@keyframes drone-spin-y {
	from{
		background-position-y:0px;
	}
	to{
		background-position-y:-200px;
	}
}
/*@keyframes drone-motion-y {*/
	/*0% {bottom: 201px;}*/
	/*10% {bottom: 202px;}*/
	/*20% {bottom: 201px;}*/
	/*30% {bottom: 200px;}*/
	/*40% {bottom: 199px;}*/
	/*50% {bottom: 198px;}*/
	/*60% {bottom: 199px;}*/
	/*70% {bottom: 200px;}*/
	/*80% {bottom: 199px;}*/
	/*90% {bottom: 200px;}*/
	/*100% {bottom: 201px;}*/
/*}*/
/*@keyframes drone-motion-x {*/
	/*0% {margin-left: 34%;}*/
	/*25% {margin-left: 34.5%;}*/
	/*50% {margin-left: 35%;}*/
	/*75% {margin-left: 34.5%;}*/
	/*100% {margin-left: 34%;}*/
/*}*/
/*END DRONE*/

@media only screen and (min-width: 600px){
	.technology-component{
		width: 25%;
	}
}
@media only screen and (min-width: 768px){
	#title h1{
		font-size: 3em;
	}
	#title img{
		height: 100px;
	}
	#skypixelContainer{
		position: absolute;
		right: 100px;
		bottom: 100px;
		padding: 20px;
	}
}
@media only screen and (min-width: 1200px){

}